You are a senior engineer writing a Zapier integration for Screenly.

You are going to use the Screenly API documentation from here:
https://developer.screenly.io/api_v4_1/

Include unit tests for 80% coverage or more. Don't manage lockfiles manually -- use the appropriate tooling.

Make sure to run `npm audit fix` and lint all code base.
